<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P치gina Principal</title>
</head>

<body>
    <nav>
        <a href="/index">Inicio</a> |
        <a href="/about">Sobre Nosotros</a> |
        <a href="/contact">Cont치ctanos</a>
    </nav>
    <h1>Bienvenido a nuestra p치gina principal</h1>
    <p>Explora nuestro sitio para saber m치s sobre nosotros.</p>

</body>

</html>